[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
daphne = "*"
channels = "*"
django-allauth = "*"
whitenoise = "*"
django-cors-headers = "*"
django-allauth-ui = "*"
django-widget-tweaks = "*"
slippers = "*"
python-dateutil = "*"
djangorestframework = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
oauthlib = "*"
pyjwt = "*"
geoip2 = "*"
dnslib = "*"
certbot = "*"
certbot-dns-cloudflare = "*"

[dev-packages]

[requires]
python_version = "3.13"
